<mat-sidenav-container class="shell">
  <mat-sidenav
    #sidenav
    class="sidebar"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
  >
    <div class="brand">
      <mat-icon>receipt_long</mat-icon>
      <span>PocketBills</span>
    </div>

    <mat-nav-list>
      @for (item of visibleNavItems(); track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          (click)="isMobile() && sidenav.close()"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ t(item.labelKey) }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (isMobile()) {
      <mat-toolbar class="topbar">
        <button mat-icon-button type="button" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="brand-mini">
          <mat-icon>receipt_long</mat-icon>
          <span>PocketBills</span>
        </div>
      </mat-toolbar>
    }

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
